<h1>Claim Companion</h1>

<p>Hallo <%= @user.name %>,</p>

<p>
Willkommen bei Claim Companion. Bitte klicken Sie auf den Link, um Ihre Aktivierung abzuschließen:
</p>

<%= link_to "Konto aktivieren", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>