<h1>Passwort zurücksetzen</h1>

<p>Klicken Sie auf untenstehenden Link, um Ihr Passwort zurückzusetzen:</p>

<%= link_to "Passwort zurücksetzen", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Die Frist zur Zurücksetzung beträgt 2 Stunden.</p>

<p>
Falls Sie die Zurücksetzung Ihres Benutzerkontos nicht angefordert haben, können Sie diese Nachricht ignorieren.
</p>