<div class="container control-group">
  <br>
  <p>Hier kommt der kontextabhängige Kram zum Auslösen der Reports hin.</p>
  <p>Welchen Kontext haben wir hier? => <%= @claim.claim_type.name %></p>
</div>