<p id="notice"><%= notice %></p>

<h1>Hochgeladene Foto-Datei</h1>

<div class="container" align="center">
  <span class="content">
    <%= image_tag @picture.file.url %>
  </span>
  <% @picture.description %>
</div>

<h4>Aktionen</h4>
<%= link_to 'zurück', @picture.claim, class: "btn btn-default" %>
