<p id="notice"><%= notice %></p>

<h2>Hochgeladenes Dokument</h2>

<div class="container">
  <span class="content">
    <%= image_tag @picture.file.url %>
  </span>
</div>

<%= link_to 'Bearbeiten', edit_picture_path(@picture) %> |
<%= link_to 'Zurück', @picture.claim %>
